@use 'hero';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lobster Two", sans-serif;
    
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    
}